In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import os

In [98]:
os.listdir()

['.ipynb_checkpoints',
 'ability_prose.csv',
 'pokemon.csv',
 'pokemon_species_flavor_text.csv',
 'processed',
 'type_efficacy.csv',
 'Untitled.ipynb']

In [97]:
pkmain = pd.read_csv('pokemon.csv', index_col=0).drop(['base_experience','order','is_default'], axis=1)
pkmain.rename(columns={'identifier': 'pokemon_name'}, inplace=True)
print(pkmain.shape)
pkmain.head()

(949, 4)

   pokemon_name  species_id  height  weight
id
1     bulbasaur           1       7      69
2       ivysaur           2      10     130
3      venusaur           3      20    1000
4    charmander           4       6      85
5    charmeleon           5      11     190

In [79]:
pkspecs['habitat_id'].unique()

array([ 3.,  4.,  9.,  2.,  6.,  1.,  8.,  7.,  5., nan])

In [101]:
pkspecs = pd.read_csv('processed/pokemon_species.csv', index_col=0)#[['identifier']]
# pkspecs.rename(columns={'identifier': 'habitat_name'}, inplace=True)
print(pkspecs.shape)
pkspecs

(802, 6)

,species_name,generation_id,evolves_from_species_id,habitat_id,generation_name,habitat_name
id,,,,,,
1,bulbasaur,1,NaN,3.0,generation-i,grassland
2,ivysaur,1,1.0,3.0,generation-i,grassland
3,venusaur,1,2.0,3.0,generation-i,grassland
4,charmander,1,NaN,4.0,generation-i,mountain
5,charmeleon,1,4.0,4.0,generation-i,mountain
6,charizard,1,5.0,4.0,generation-i,mountain
7,squirtle,1,NaN,9.0,generation-i,waters-edge
8,wartortle,1,7.0,9.0,generation-i,waters-edge
9,blastoise,1,8.0,9.0,generation-i,waters-edge
10,caterpie,1,NaN,2.0,generation-i,forest
11,metapod,1,10.0,2.0,generation-i,forest
12,butterfree,1,11.0,2.0,generation-i,forest
13,weedle,1,NaN,2.0,generation-i,forest
14,kakuna,1,13.0,2.0,generation-i,forest
15,beedrill,1,14.0,2.0,generation-i,forest
16,pidgey,1,NaN,2.0,generation-i,forest
17,pidgeotto,1,16.0,2.0,generation-i,forest
18,pidgeot,1,17.0,2.0,generation-i,forest
19,rattata,1,NaN,3.0,generation-i,grassland
20,raticate,1,19.0,3.0,generation-i,grassland
21,spearow,1,NaN,6.0,generation-i,rough-terrain
22,fearow,1,21.0,6.0,generation-i,rough-terrain
23,ekans,1,NaN,3.0,generation-i,grassland
24,arbok,1,23.0,3.0,generation-i,grassland
25,pikachu,1,172.0,2.0,generation-i,forest
26,raichu,1,25.0,2.0,generation-i,forest
27,sandshrew,1,NaN,6.0,generation-i,rough-terrain
28,sandslash,1,27.0,6.0,generation-i,rough-terrain
29,nidoran-f,1,NaN,3.0,generation-i,grassland
30,nidorina,1,29.0,3.0,generation-i,grassland
...,...,...,...,...,...,...
773,silvally,7,772.0,NaN,sun-moon,NaN
774,minior,7,NaN,NaN,sun-moon,NaN
775,komala,7,NaN,NaN,sun-moon,NaN
776,turtonator,7,NaN,NaN,sun-moon,NaN
777,togedemaru,7,NaN,NaN,sun-moon,NaN
778,mimikyu,7,NaN,NaN,sun-moon,NaN
779,bruxish,7,NaN,NaN,sun-moon,NaN
780,drampa,7,NaN,NaN,sun-moon,NaN
781,dhelmise,7,NaN,NaN,sun-moon,NaN
782,jangmo-o,7,NaN,NaN,sun-moon,NaN
783,hakamo-o,7,782.0,NaN,sun-moon,NaN
784,kommo-o,7,783.0,NaN,sun-moon,NaN
785,tapu-koko,7,NaN,NaN,sun-moon,NaN
786,tapu-lele,7,NaN,NaN,sun-moon,NaN
787,tapu-bulu,7,NaN,NaN,sun-moon,NaN
788,tapu-fini,7,NaN,NaN,sun-moon,NaN
789,cosmog,7,NaN,NaN,sun-moon,NaN
790,cosmoem,7,789.0,NaN,sun-moon,NaN
791,solgaleo,7,790.0,NaN,sun-moon,NaN
792,lunala,7,790.0,NaN,sun-moon,NaN
793,nihilego,7,NaN,NaN,sun-moon,NaN
794,buzzwole,7,NaN,NaN,sun-moon,NaN
795,pheromosa,7,NaN,NaN,sun-moon,NaN
796,xurkitree,7,NaN,NaN,sun-moon,NaN
797,celesteela,7,NaN,NaN,sun-moon,NaN
798,kartana,7,NaN,NaN,sun-moon,NaN
799,guzzlord,7,NaN,NaN,sun-moon,NaN
800,necrozma,7,NaN,NaN,sun-moon,NaN
801,magearna,7,NaN,NaN,sun-moon,NaN
802,marshadow,7,NaN,NaN,sun-moon,NaN

In [107]:
finalmain = pd.merge(pkmain, pkspecs, how='inner', left_on='species_id', right_index=True).sort_index()
finalmain.index.names = ['pokemon_id']
print(finalmain.shape)
finalmain.head()

(949, 10)

,pokemon_name,species_id,height,weight,species_name,generation_id,evolves_from_species_id,habitat_id,generation_name,habitat_name
pokemon_id,,,,,,,,,,
1,bulbasaur,1,7,69,bulbasaur,1,NaN,3.0,generation-i,grassland
2,ivysaur,2,10,130,ivysaur,1,1.0,3.0,generation-i,grassland
3,venusaur,3,20,1000,venusaur,1,2.0,3.0,generation-i,grassland
4,charmander,4,6,85,charmander,1,NaN,4.0,generation-i,mountain
5,charmeleon,5,11,190,charmeleon,1,4.0,4.0,generation-i,mountain

In [108]:
finalmain.to_csv('processed/pokemon_main.csv', index=True, header=True)